:root {
  --rebeccapurple: hsl(270, 50%, 40%);
  --banner-text-color: #333;
  --hr-separator-color: #e9e9e9;
  --no-underlines: none;
  --no-list: none;
  --center: center;
  --left: left;
  --heading-stack: 'Merriweather', serif;
  --regular-stack: 'Merriweather Sans', sans-serif; }

html, body {
  margin: 0;
  padding: 0; }

body {
  background-color: #ededed;
  border-top: 3px solid gray; }

p {
  font-family: var(--regular-stack); }

#nameplate a, #nameplate a:hover {
  font-family: var(--heading-stack);
  color: var(--banner-text-color); }

#description {
  font-family: var(--regular-stack);
  font-style: italic;
  margin-top: 0.15rem; }

h2 {
  text-align: var(--center); }

.content, .rjp {
  margin-left: 2.5rem;
  margin-right: 2.5rem; }

#rights {
  font-family: var(--regular-stack); }
