.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.25rem; }

.me {
  border-radius: 100%;
  grid-row: 1;
  margin: 0 auto; }

.intro {
  grid-row: 2; }

h2 {
  text-align: var(--center); }

#contact {
  text-align: var(--center); }

#rights {
  white-space: nowrap;
  text-align: var(--center); }

#nameplate {
  text-align: var(--center);
  white-space: normal; }

h2#contact {
  text-align: var(--center); }

#social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.15rem;
  text-align: var(--center);
  list-style-type: var(--no-list); }

.fab.fa-github.fa-2x {
  grid-column: 1; }

.fab.fa-linkedin.fa-2x {
  grid-column: 2; }

.fab.fa-twitter.fa-2x {
  grid-column: 3; }
