* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

h2 {
  text-align: center; }

#rjp {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr;
  grid-row-gap: 20px;
  margin-left: 2.5rem;
  margin-right: 2.5rem; }

#who {
  font-family: var(--regular-stack);
  font-weight: bold; }

#what {
  font-family: var(--regular-stack);
  font-weight: bold; }

#where {
  font-family: var(--regular-stack);
  font-weight: bold; }
