@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source+Sans+Pro Regular"), url(//brick.a.ssl.fastly.net/fonts/sourcesanspro/400.woff) format("woff"); }
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source+Serif +Pro"), url(//brick.a.ssl.fastly.net/fonts/sourceserifpro/400.woff) format("woff"); }
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 700;
  src: local("Cardo"), url(//brick.a.ssl.fastly.net/fonts/cardo/700.woff) format("woff"); }
body {
  margin: 40px auto;
  max-width: 725px;
  line-height: 1.6;
  font-size: 1rem;
  background-color: #ededed;
  padding: 0 10px; }

h1 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px; }

h1, h2, h3 {
  line-height: 1.2; }

p {
  font-family: "Source Serif Pro", serif; }

a:link, a:hover, a:active {
  text-decoration: none; }

a:visited {
  color: rebeccapurple; }

.fab.fa-twitter.fa-2x {
  color: #1ca0f2; }

.fab.fa-linkedin.fa-2x {
  color: #0074b3; }

.fab.fa-github.fa-2x {
  color: #333333; }

ul {
  list-style-type: disc; }

ul li {
  font-family: "Source Sans Pro", sans-serif; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ededed; }

img {
  max-width: 100%; }

.hi {
  font-family: "Cardo", serif;
  font-size: 2rem;
  text-align: center;
  white-space: wrap; }

#name {
  font-size: 2rem;
  font-family: "Source Serif Pro", serif;
  white-space: wrap; }

#about, #skills, #criteria, #requirements, #work, #contact {
  text-transform: capitalize; }

#who, #what, #where {
  font-weight: bold; }

#mail {
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none; }

#rights {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif; }

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.25rem; }

.me {
  border-radius: 100%;
  grid-row: 1;
  margin: 0 auto; }

.intro {
  grid-row: 2; }

#social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.15rem;
  text-align: center;
  list-style-type: none; }

.fab.fa-github.fa-2x {
  grid-column: 1; }

.fab.fa-linkedin.fa-2x {
  grid-column: 2; }

.fab.fa-twitter.fa-2x {
  grid-column: 3; }

@media screen and (min-width: 665px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem; }

  .me {
    border-radius: 100%;
    grid-column: 1;
    grid-row: 1;
    align-self: center; }

  .intro {
    grid-column: 2;
    grid-row: 1;
    text-align: left; }

  .hi {
    font-size: 2.5rem; }

  #name {
    font-size: 1.75rem;
    white-space: wrap; }

  #social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    text-align: center;
    list-style-type: none; }

  .fab.fa-github.fa-2x {
    grid-column: 1; }

  .fab.fa-linkedin.fa-2x {
    grid-column: 2; }

  .fab.fa-twitter.fa-2x {
    grid-column: 3; } }
