h1, h2, h3, p, ul, hr {
  margin: 0 0 1.5rem 0; }

h1 {
  font-family: var(--heading-stack);
  font-size: 1.8020rem;
  line-height: 1.6648; }

h2 {
  font-family: var(--heading-stack);
  font-size: 1.6018rem;
  line-height: 1.8729; }

h3 {
  font-family: var(--heading-stack);
  font-size: 1.4238rem;
  line-height: 1.0535; }

#rights {
  font-family: var(--regular-stack);
  font-size: 0.8889rem;
  line-height: 1.6875; }
