html {
  font: normal 100%/1.5 Times, serif; }

h1, h2, h3, p, ul, hr {
  margin: 0 0 1.5rem 0; }

h1 {
  font-size: 1.8020rem;
  line-height: 1.6648; }

h2 {
  font-size: 1.6018rem;
  line-height: 1.8729; }

h3 {
  font-size: 1.4238rem;
  line-height: 1.0535; }

#rights {
  font-size: 0.8889rem;
  line-height: 1.6875; }
