a {
  color: inherit;
  text-decoration: var(--no-underlines); }

a:link, a:hover, a:active {
  text-decoration: var(--no-underlines); }

a:visited {
  color: var(--rebeccapurple); }

ul {
  list-style-type: disc; }

ul li {
  font-family: var(--sans-stack); }

img {
  max-width: 100%;
  height: auto; }
