:root {
  --rebeccapurple: #663399;
  --banner-background-color: #981E32;
  --banner-text-color: white;
  --hr-separator-color: #E9E9E9;
  --no-underlines: none;
  --no-list: none;
  --center: center;
  --left: left;
  --heading-stack: 'Merriweather', serif;
  --regular-stack: 'Merriweather Sans', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 93%);
}

p {
  font-family: var(--regular-stack);
}

header, header a:hover, header a:visited {
  font-family: var(--heading-stack);
  background-color: var(--banner-background-color);
  color: var(--banner-text-color);
  text-align: var(--center);
}

link a:visited {
  color: var(--rebeccapurple);
}

#description {
  font-family: var(--regular-stack);
  margin-top: 0.15rem;
  text-align: var(--center);
  color: var(--banner-text-color);
}

#name {
  margin: 0;
}

.content, .rjp {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

#rights {
  font-family: var(--regular-stack);
}
