@charset 'utf-8';

@import 'fonts';
@import 'variables';

body {
  margin: 40px auto;
  max-width: 725px;
  line-height: 1.6;
  font-size: 1rem;
  background-color: hsl(0, 0%, 93%);
  padding: 0 10px;
}

h1 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
}

h1, h2, h3 {
  line-height: 1.2;
}

p {
  font-family: $serif-stack;
}

a:link, a:hover, a:active {
  text-decoration: $no-underlines;
}

a:visited {
  color: $rebeccapurple;
}

.fab.fa-twitter.fa-2x {
  color: hsl(203, 89%, 53%);
}

.fab.fa-linkedin.fa-2x {
  color: hsl(201, 100%, 35%);
}

.fab.fa-github.fa-2x {
  color: hsl(0, 0%, 20%);
}

ul {
  list-style-type: disc;
}

ul li {
  font-family: $sans-stack;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid hsl(0, 0%, 93%);
}

img {
  max-width: 100%;
}

.hi {
  font-family: $heading-stack;
  font-size: $masthead-type;
  text-align: center;
  white-space: wrap;
}

#name {
  font-size: $masthead-type;
  font-family: $serif-stack;
  white-space: wrap;
}

#about, #skills, #criteria, #requirements, #work, #contact {
  text-transform: capitalize;
}

#who, #what, #where {
  font-weight: bold;
}

#mail {
  font-family: $sans-stack;
  text-decoration: $no-underlines;
}

#rights {
  text-align: center;
  font-family: $sans-stack;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem;
  }

  .me {
    border-radius: 100%;
    grid-row: 1;
    margin: 0 auto;
  }

  .intro {
    grid-row: 2;
  }

  #social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.15rem;
    text-align: center;
    list-style-type: none;
  }

  .fa.fa-github.fa-2x {
    grid-column: 1;
  }
  
  .fa.fa-linkedin.fa-2x {
    grid-column: 2;
  }
  
  .fa.fa-twitter.fa-2x {
    grid-column: 3;
  }

@import 'queries';
