@charset 'utf-8';

@import 'fonts';

:root {
  --rebeccapurple: hsl(270, 50%, 40%);
  --masthead-type: 2rem;
  --no-underlines: none;
  --no-list: none;
  --center: center;
  --heading-stack: 'Cardo', serif;
  --sans-stack: 'Source Sans Pro', sans-serif;
  --serif-stack: 'Source Serif Pro', serif;
}

body {
  margin: 40px auto;
  max-width: 725px;
  line-height: 1.6;
  font-size: 1rem;
  background-color: hsl(0, 0%, 93%);
  padding: 0 10px;
}

h1 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
}

h1, h2, h3 {
  line-height: 1.2;
}

p {
  font-family: var(--serif-stack);
}

a:link, a:hover, a:active {
  text-decoration: var(--no-underlines);
}

a:visited {
  color: var(--rebeccapurple);
}

.fab.fa-twitter.fa-2x {
  color: hsl(203, 89%, 53%);
}

.fab.fa-linkedin.fa-2x {
  color: hsl(201, 100%, 35%);
}

.fab.fa-github.fa-2x {
  color: hsl(0, 0%, 20%);
}

ul {
  list-style-type: disc;
}

ul li {
  font-family: var(--sans-stack);
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid hsl(0, 0%, 93%);
}

img {
  max-width: 100%;
}

.hi {
  font-family: var(--heading-stack);
  font-size: var(--masthead-type);
  text-align: var(--center);
  white-space: normal;
}

#name {
  font-size: var(--masthead-type);
  font-family: var(--serif-stack);
  white-space: normal;
}

#about, #skills, #criteria, #requirements, #work, #contact {
  text-transform: capitalize;
}

#who, #what, #where {
  font-weight: bold;
}

#mail {
  font-family: var(--sans-stack);
  text-decoration: var(--no-underlines);
}

#rights {
  text-align: var(--center);
  font-family: var(--sans-stack);
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem;
  }

  .me {
    border-radius: 100%;
    grid-row: 1;
    margin: 0 auto;
  }

  .intro {
    grid-row: 2;
  }

  #social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.15rem;
    text-align: var(--center);
    list-style-type: var(--no-list);
  }

  .fab.fa-github.fa-2x {
    grid-column: 1;
  }
  
  .fab.fa-linkedin.fa-2x {
    grid-column: 2;
  }
  
  .fab.fa-twitter.fa-2x {
    grid-column: 3;
  }

@import 'queries';
