$rebeccapurple: hsl(270, 50%, 40%);
$masthead-type: 2rem;
$no-list: none;
$no-underlines: none;
$sans-stack: 'Source Sans Pro', sans-serif;
$serif-stack: 'Source Serif Pro', serif;
$heading-stack: 'Cardo', serif;
