@media (prefers-color-scheme: dark) {
  
  body {
    background-color: #1B2532;
  }
  
  ul > li, p, #rights, #nameplate a, #nameplate a:hover, label, h1, h2, h3 {
    color: #E9F2F9;
  }
  
  .fa-github {
    color: #000000;
  }
  
}
