@import "fonts";
@import "variables";

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: hsl(0, 0%, 27%);
  padding: 0 10px;
}

h1, h2, h3 {
  line-height: 1.2;
}

p {
  font-family: "Source Serif Pro";
}

a:link, a:hover, a:active {
  text-decoration: $no-underlines;
}

a:visited {
  color: $rebeccapurple;
}

.fa.fa-twitter.fa-2x {
  color: hsl(203, 89%, 53%);
}

.fa.fa-linkedin.fa-2x {
  color: hsl(201, 100%, 35%);
}

.fa.fa-github.fa-2x {
  color: hsl(0, 0%, 20%);
}

ul li {
  font-family: "Source Sans Pro";
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid hsl(0, 0%, 93%);
}

img {
  max-width: 100%;
}

#name {
	font-size: $masthead-type;
	font-family: "Source Serif Pro";
	white-space: nowrap;
}

#about, #skills, #criteria, #requirements, #work, #contact {
  text-transform: capitalize;
}

#mail {
  font-family: "Source Sans Pro";
  text-decoration: $no-underlines;
}

#intro {
  display: inline-block;
  float: right;
  padding-right: 15px;
  padding-left: 15px;
  
}

#img-container {
  width: 250px;
  margin: 0 auto;
  text-align: center;
}

#social {
  text-align: center;
  clear: both;
}

#rights {
  text-align: center;
  clear: both;
  font-family: "Source Sans Pro";
}
